* {
    margin: 0;
    /* main background color */
    --color-main-bg: #F0EBE3;
    /* header background color */
    --color-header-bg: #E4DCCF;
    /* game background color */
    --color-game-bg: #7D9D9C;
    /* game text & markers */
    --color-game-chars: #576F72;
    /* input field background color */
    --color-input-bg: #adc2c1;
    /* header text */
    --color-header-text: #756e61;
    --ready-bg-color: rgba(39, 170, 120, 0.562);
    --ready-btn-border-color: rgba(39, 170, 120, 1);
    --container-ready-bg-color: rgb(27, 119, 84);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--color-main-bg);
    font-family: 'Lato', sans-serif;
}

button:hover {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
    opacity: 0.2;
}

input:disabled {
    opacity: 0.2;
}

.header {
    height: 7%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--color-header-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
    color: var(--color-header-text);
}

.main-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 30px;
    gap: 40px;
}

.final-text-wrapper {
    grid-area: 1 / 2 / 2 / 3;
    width: 80%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-self: start;
}

.final-text {
    font-size: 20px;
}

.play-again-btn {
    border-radius: 20px;
    background-color: var(--color-input-bg);
    border: 2px solid var(--color-game-chars);
    color: var(--color-game-chars);
    font-weight: 700;
    transition: 0.3s;
    font-size: 14px;
    width: 120px;
    height: 30px;
}


.player-container {
    margin-top: 60px;
    border-radius: 20px;
    background-color: var(--color-game-bg);
    height: 200px;
    width: 300px;
    padding: 20px;
    transition: 0.3s;
}

.container-ready {
    background-color: var(--ready-bg-color);
}

.container-ready > .player-content-wrapper > input {
    background-color: var(--ready-bg-color);
}

.container-ready > .player-content-wrapper {
    color: var(--container-ready-bg-color);
}

.player-container-one {
    justify-self: end;
}

.player-container-two {
    justify-self: start;
}

.player-content-wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 1fr 2fr;
    gap: 10px;
    color: #364547;
    transition: inherit;
}

.player-text {
    font-size: 18px;
    font-weight: 700;
    grid-area: 1 / 1 / 2 / 3;
    justify-self: center;
}

.player-label {
    grid-area: 1 / 1 / 2 / 2;
    align-self: end;
}

input {
    grid-area: 2 / 1 / 3 / 3;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--color-input-bg);
    color: var(--color-game-chars);
    transition: inherit;
}

.player-ready-button {
    grid-area: 4 / 1 / 5 / 3;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    background-color: var(--color-input-bg);
    border: 2px solid var(--color-game-chars);
    justify-self: center;
    color: var(--color-game-chars);
    font-weight: 700;
    transition: inherit;
    font-size: 14px;
}

.ready {
    background-color: var(--ready-bg-color);
    border: 2px solid var(--ready-btn-border-color);
    color: var(--container-ready-bg-color);
}

.board-wrapper {
    margin-top: 60px;
    grid-area: 1 / 2 / 2 / 3;
    height: 500px;
    width: 500px;
    background-color: var(--color-game-bg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    transition: 2s;
}

.square {
    border: 5px solid rgba(0, 0, 0, 0.103);
    display: flex;
    border-radius: 50%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 72px;
    font-weight: 700;
    transition: 0.3s;
}

.square.active:hover {
    background-color: #3d484b31;
    border-radius: 25px;
    cursor: pointer;
}

.winner {
    background-color: white;
}

.tie {
    background-color: grey;
}

.start-game-button {
    grid-area: 2 / 2 / 3 / 3;
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: var(--color-input-bg);
    border: 2px solid var(--color-game-chars);
    justify-self: center;
    color: var(--color-game-chars);
    font-weight: 700;
    transition: 0.3s;
    font-size: 18px;
}

.start-game-button:enabled {
    background-color: var(--ready-bg-color);
    border: 2px solid var(--ready-btn-border-color);
    color: var(--container-ready-bg-color);
}